
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>My name's Protfolio Resume</title>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>

  <body>
    <section>
        <div class="container container-main">
            <img src="{{ url_for('static', filename='img/no_face.jfif') }}" class="profile-image" alt="">
            <header>
                <h1>Hello, <br> my name is <strong>Name Surname</strong> Some Info.</h1>
            </header>
            <img src="img/" alt="" class="line">
            <div class="row">
                <div class="col-md-7">
                    <h2># About Me </h2>
                    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel elit rutrum, varius risus sed, dignissim massa.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec quis orci gravida,
                    suscipit lorem ut, lacinia tortor. Donec ut urna massa. Aenean vel ipsum sed odio venenatis viverra. Vestibulum vulputate
                    sapien sit amet eros dictum, at molestie magna aliquam. Suspendisse potenti. Nam porttitor risus rhoncus ipsum blandit,
                        ac varius risus elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Proin lacinia justo orci, sit amet lobortis ante porttitor vulputate. Aliquam pretium aliquam vestibulum.
                        Phasellus scelerisque ante sed dui vulputate ultrices.
                    </p>
                </div>
                <div class="col-md-5">
                    <h2># Contact info </h2>
                    <ul class="contact-list"></ul>
                        <li><i class="fa fa-mobile fa-3x"></i> (111) 222 3344</li>
                        <li><i class="fa fa-envelope fa-2x"></i> your email4@gmail.com</li>
                        <li><i class="fa fa-facebook fa-3x"></i> Facebook <span>facebook.com/your_username</span></li>
                        <li><i class="fa fa-twitter fa-2x"></i> Twitter <span>twitter.com/your_username</span></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <h2># Education & Experience </h2>
                    <div class="media">
                        <div class="media-left">
                            20013-2018
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Your_University University</h4>
                            <p>Proin lacinia justo orci, sit amet lobortis ante porttitor vulputate.</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            2018-2020
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Your_University University Master</h4>
                            <p>Proin lacinia justo orci, sit amet lobortis ante porttitor vulputate.</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            2021-2028
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Your University</h4>
                            <p>Proin lacinia justo orci, sit amet lobortis ante porttitor vulputate.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h2># Programming Skills </h2>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 100%">
                            Python
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 70%;">
                            C#
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 60%;">
                            JavaScript
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 50%">
                            Java
                            </div>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <h2># Services</h2>
                    <div class="alert alert-success" role="alert"><i class="fa fa-check fa-2x"></i> Data Analysis</div>
                    <div class="alert alert-info" role="alert"><i class="fa fa-check fa-2x"></i> NLP</div>
                    <div class="alert alert-success" role="alert"><i class="fa fa-check fa-2x"></i> Cloud Infrastructure Administration</div>
                    <div class="alert alert-info" role="alert"><i class="fa fa-check fa-2x"></i> Web Development</div>
                </div>
                <div class="col-md-5">
                    <h2># Recent Projects</h2>
                    <ul class="work-list">
                        <li>Work1</li>
                        <li>Work1</li>
                        <li>Work1</li>
                        <li>Work1</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>Copyright &copy; 2018, All right reserved</p>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
        
  </body>
</html>
